name: run_bundling
on:
  workflow_dispatch: # Позволяет запустить вручную кнопкой

jobs:
  bundle_windows_x86_64:
    runs-on: windows-2022 # Используем стандартный сервер GitHub
    env:
      CARGO_TERM_COLOR: always
      RUST_BACKTRACE: '1'
      CARGO_INCREMENTAL: 0
    steps:
    - name: checkout_repo
      uses: actions/checkout@v4
      with:
        clean: false

    - name: setup_rust
      uses: dtolnay/rust-toolchain@stable

    - name: run_bundling
      # Мы запускаем только сборку под Windows x86_64
      run: powershell script/bundle-windows.ps1 -Architecture x86_64
      shell: pwsh

    - name: upload_artifact
      uses: actions/upload-artifact@v4
      with:
        name: Zed-Windows-Bypassed
        # Путь к файлу после сборки (в Windows Zed обычно тут)
        path: target/release/zed.exe 
        if-no-files-found: warn
